site_name: HomeLab Documentation
site_url: https://lab.packetflow.be
theme: 
  name: material
  features:
  - content.code.copy
  - content.code.select
  - content.code.annotate

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Network:
      - Physical Layout: 01_network/01_physical.md
      - Logical Layout: 01_network/02_logical.md
      - Device Decisions: 01_network/03_device_decisions.md
      - Security: 01_network/04_security.md
      - Wireless: 01_network/06_wireless.md
  - Status : status.md
